/.vs/*
/BusConfigDll/Release/*
/Release/*
/BusConfigUI/x64/Debug/*
/BusConfigUI/x64/Release/*
/x64/Release/*
/BusConfigDll/x64/Debug/*
/BusConfigDll/x64/Release/*
/x64/Debug/*
/BusConfigConsole/Debug/*
/BusConfigConsole/x64/Debug/*
/BusConfigDll/Debug/*
/BusConfigConsole/x64/Release/*
/Debug/*
/BusConfigConsole/Release/*
/BusConfigTest/x64/Release/*
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Release/*
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Debug/*
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Debug/*
/CanBusConfigurator/x64/Release/*
/CanBusConfigurator/x64/Debug/*
